- form_for [@member, @member.profile] do |p|
  #member_img
    #pg_title Member Profiles
  %table#pg_container{:cellpadding => "0", :cellspacing => "0"}
    %tr
      %td#menu_area
        #sidebar
          %ul#cust.nav
            %li
              %a#two{:href => "javascript:Bio();"} > View/Print Biography 
            %li
              %a#four{:href => "javascript:toggle('four','foursub');"} > Links
              %ul#foursub.sub
                %li
                  %a{:href => "mailto:#{@member.email}"} Contact Me
                %li
                  = link_to "Consultant Web Site", @member.profile.try(:url), :target => "_new"
            %li
              %a#six{:href => "javascript:Upload();"} > Attachments
            %li
              %a#five{:href => "javascript:toggle('five','fivesub');"} > Member Directory
              %ul#fivesub.sub
                %li
                  = link_to "All Members", members_path
        %br
        %div{:align => "center"}
          -#%img{:border => "0", :src => "<%=svImage%>"}
      %td{:valign => "top"}
        %table#content_table{:cellpadding => "0", :cellspacing => "0"}
          %tr
            %td#profile_top{:style => "background-image:url(<%=svImage_Small%>);background-repeat:no-repeat;height=50px;"}
              #profile_top_text
                = "#{@member.first_name} #{@member.last_name}" 
                %span{:style => "font-size:0.6em;"}= @member.profile.try(:title)
          %tr
            %td#content_main
              %p= @member.profile.try(:biography)
          %tr
            %td#content_main{:style => "text-align:left;"}
              %table#profile{:cellpadding => "0", :cellspacing => "0"}
                %tr
                  %td#profile_red Sample:
                  %td= p.check_box :sample
                %tr
                  %td#profile_red Title:
                  %td= p.text_field :title, :size => 25, :maxlength => 255
                %tr{:valign => "top"}
                  %td#profile_red Biography:
                  %td= p.text_area :biography, :rows => 8, :cols => 50
                %tr
                  %td#profile_red Location:
                  %td= p.text_field :location
                %tr{:valign => "top"}
                  %td#profile_red Expertise:
                  %td
                    %table#profile{:cellpadding => "0", :cellspacing => "0", :width => "100%"}
                      %tr
                        %th Expertise
                        %th Yes/No
                        %th # of Years
                      - p.fields_for :expertises do |e|
                        %tr
                          %td= e.text_field :description
                          %td= e.check_box :yes_no
                          %td= e.text_field :years 
                %tr{:valign => "top"}
                  %td#profile_red Latest Projects:
                  %td
                    %table#profile{:cellpadding => "0", :cellspacing => "0", :width => "100%"}
                      %tr
                        %th Project Name
                        %th Show on Profile
                      - p.fields_for :projects do |p|
                        %tr
                          %td= p.text_field :name
                          %td= p.check_box :show_on_profile
                %tr
                  %td#profile_red
                  %td
                    = image_submit_tag "button.jpg"

