#member_img
  #pg_title Member Center
- form_tag current_user, :method => "PUT" do
  %table#pg_container{:cellpadding => "0", :cellspacing => "0"}
    %tr
      %td#menu_area
        = render "site/member_center_sidebar"
      %td{:valign => "top"}
        %table#content_table{:cellpadding => "0", :cellspacing => "0"}
          %tr
            %td#content_top Change Password
          %tr
            %td#content_main{:style => "background-repeat:no-repeat;background-position:right bottom;"}
              %table{:align => "center", :border => "0", :width => "80%"}
                - @user.try(:errors).try(:each) do |attr, msg|
                  %tr
                    %td{:align => "center", :colspan => "2", :style => "color:#c60a27;"} #{attr.capitalize} #{msg}
                %tr
                  %td{:align => "right"} Current Password:&nbsp;
                  %td{:align => "left"}
                    = password_field_tag 'current_password', nil, {:maxlength => "128", :size => "20"}
                %tr
                  %td{:align => "right"} New Password:&nbsp;
                  %td{:align => "left"}
                    = password_field_tag 'password', nil, {:maxlength => "128", :size => "20"}
                %tr
                  %td{:align => "right"} New Password (Confirm):&nbsp;
                  %td{:align => "left"}
                    = password_field_tag 'password_confirmation', nil, {:maxlength => "128", :size => "20"}
                %tr
                  %td{:align => "center", :colspan => "2"}
                    = image_submit_tag "button.jpg"
