!!!
%html
  %head
    = stylesheet_link_tag "aca_global"
    = render :partial => "javascript_includes"
    %title
      ACA
  %body{ :onload => "Init();" }
    %center
      %table#container{ :cellspacing => "0", :cellpadding => "0" }
        %tr
          %td#top
        %tr
          %td#header
            = render :partial => "layouts/header"
        %tr
          %td#content
            = yield
        %tr
          %td#bottom-footer
            = render :partial => "layouts/footer"
