!!!
%html
  %head
    = stylesheet_link_tag "aca_global"
    = render :partial => "javascript_includes"
    %title
      ACA
  %body{ :onload => "Init();" }
    = form_tag_for_controller do
      %center
        %table#container{ :cellspacing => "0", :cellpadding => "0" }
          %tr
            %td#top
          %tr
            %td#header
              = render :partial => "header"
          = yield
          %tr
            %td#bottom-footer
              = render :partial => "footer"
