!!!
%html
  %head
    = stylesheet_link_tag "aca_global"
    = javascript_include_tag "aca_main"
    %title
      ACA
  %body
    %center
      %table#container{ :cellspacing => "0", :cellpadding => "0" }
        %tr
          %td#top
        %tr
          %td#header
            = render :partial => "header"
        = yield
        %tr
          %td#bottom-footer
            = render :partial => "footer"
