#member_img
  #pg_title Member Profiles
%table#pg_container{:cellpadding => "0", :cellspacing => "0"}
  %tr
    %td#menu_area
      = render :partial => 'sidebar'
    %td{:valign => "top"}
      %table#content_table{:cellpadding => "0", :cellspacing => "0"}
        %tr
          %td#profile_top{:style => "background-image:url(<%=svImage_Small%>);background-repeat:no-repeat;height=50px;"}
            #profile_top_text
              = "#{@member.first_name} #{@member.last_name}" 
              %span{:style => "font-size:0.6em;"}= @member.profile.try(:title)
        %tr
          %td#content_main
            %p= @member.profile.try(:biography)
        %tr
          %td#content_main{:style => "text-align:left;"}
            %table#profile{:cellpadding => "0", :cellspacing => "0"}
              %tr
                %td#profile_red Sample:
                %td= check_box_tag "sample", "1", @member.profile.try(:sample)
              %tr
                %td#profile_red Title:
                %td= text_field_tag "member[title]", @member.profile.try(:title), :size => 25, :maxlength => 255
              %tr{:valign => "top"}
                %td#profile_red Biography:
                %td= text_area_tag "member[biography]", @member.profile.try(:biography), :rows => 8, :cols => 50
              %tr
                %td#profile_red Location:
                %td= @member.profile.try(:location)
              %tr{:valign => "top"}
                %td#profile_red Expertise:
                %td
                  %table#profile{:cellpadding => "0", :cellspacing => "0", :width => "100%"}
                    %tr
                      %th Expertise
                      %th Yes/No
                      %th # of Years
                    - Expertise.all.each do |e|
                      %tr
                        %td= e.name
                        %td= check_box_tag "member[expertise][#{e[:id]}", "1", true 
                        %td 5
              %tr{:valign => "top"}
                %td#profile_red Latest Projects:
                %td
                  %table#profile{:cellpadding => "0", :cellspacing => "0", :width => "100%"}
                    %tr
                      %th Project Name
                      %th Show on Profile
              %tr
                %td#profile_red
                %td
                  = image_submit_tag "button.jpg"

